@import "reset.css";

@font-face {
    font-family: "beermoney";
    font-family: "Montserrat";

}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


html {
    overflow-x: hidden;
  }


.text h1 {
    font-family: "beer money";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #FAFF00;
    padding-top: 20px;
    padding-left: 32px;
    padding-bottom: 8px;
}

.text p {
    color: #A6A6A6;
    font-size: 14px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 26px;
    font-family: "Montserrat";
}
